<div>
    <form action="/owner/request-add-elephant" method="post">
        Elephant Detail : 
        <textarea name="data" id="" cols="50" rows="30"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>