<div class="custom-container text-center mx-auto">
    <form class="box" method="POST" action="signUp">
    <h1>New Owner</h1>
    <h2 align="left">Name</h2>
    <input type="text" class="form-control" name="name" placeholder="Enter Name...">
    <br>
    <h2 align="left">Email</h2>
    <input type="text" class="form-control" name="email" placeholder="Enter Email...">
    <br>
    <h2 align="left">Create Password</h2>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password...">
    <br>
    <h2 align="left">Re-Enter Password</h2>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter password...">
    <br>
    <h2 align="left">About</h2>
    <textarea class="form-control" name="about" placeholder="Enter Something about you..."></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>