<div class="custom-container text-center mx-auto">
    <h1>
        Admin Dashboard!
    </h1>
    <a href="/Admin/newWarden" class="btn btn-info" role="button">Registration for New Owner</a>
    <br>
</div>