<div id="login-form" style="" class="mx-auto">
    <h1>Login</h1>
    <hr>
    <form>
        <div class="form-group">
            <label>Email address</label>
            <input class="form-control" aria-describedby="Enter Email Here" type="email" placeholder="someone@xzy.com">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" placeholder="****">
            <small class="form-text text-muted">Passwords are stored safely on our servers!</small>
        </div>
        <button class="btn btn-warning" type="submit">Login</button>
    </form>
</div>