<div class="custom-container text-center mx-auto">
    <button class="btn btn-info m-2">Registration for New Owner</button>
    <br>
    <button class="btn btn-info m-2">Registration for New Elephants</button>
    <br>
    <button class="btn btn-danger m-3">Registration for Warden</button>
    <br>
    <small class="m-1 text-danger">Only for Officials</small>

</div>