<div class="custom-container text-center mx-auto">

    <button class="btn btn-info m-2" onclick="location.href='/owner/signup">Registration for New Owner</button>
    <br>
    <small class="m-1 text-danger">Only for Officials</small>

</div>
