<div class="custom-container mx-auto" >
    <h1 class="text-center">
        New Elephant Registration
    </h1>
    <hr>

    <form method="post" action="/warden/add-elephant">
        <div class="form-group">
                        <label>Select Owner</label>
                        <select class="form-control" name="owner">
                            {{#each list}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
        </div>
        <div class="form-group">
                        <label>Elephant Alias</label>
                        <input class="form-control" type="text" name="alias" placeholder="Known Aliases">
        </div>


        <div class="form-group">
                        <label>Add History Of Elephant</label>
                        <input class="form-control" name="history" type="text" placeholder="Enter History">
        </div>

        <div class="form-group">
                        <label>Veterinarian Check</label>
                        <textarea class="form-control" name="v_check"></textarea>
        </div>

        <input type="submit" class="text-center btn btn-success w-100" value="Create!"/>
    </form>

<!--    <form enctype="multipart/form-data" action="/warden/add-elephant" method="POST">-->
<!--        <div class="form-group">-->
<!--            <label>Select Owner</label>-->
<!--            <select class="form-control" name="owner">-->
<!--                <option value="Santosh">Santosh</option>-->
<!--                <option value="Rakesh">Rakesh</option>-->
<!--                <option value="Mukesh">Mukesh</option>-->
<!--                <option value="Babu">Babu</option>-->
<!--                <option value="Chotu">Chotu</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label>Elephant Alias</label>-->
<!--            <input class="form-control" type="text" name="alias" placeholder="Known Aliases">-->
<!--        </div>-->


<!--        <div class="form-group">-->
<!--            <label>Add History Of Elephant</label>-->
<!--            <input class="form-control" name="history" type="text" placeholder="Enter History">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label>Veterinarian Check</label>-->
<!--            <textarea class="form-control" name="v_check"></textarea>-->
<!--        </div>-->

<!--        <button type="submit" class="text-center btn btn-success w-100">Create!</button>-->
<!--    </form>-->
</div>
