<div>
    <form action="/warden/add-elephant" method="post">
        Name : <input type="text" name="name"><br>
        Images : <input type="text" name="images"><br>
        <label>Select Owner</label>
            <select  id="exampleSelect1" name="owner">
                <option>Santosh</option>
                <option>Rakesh</option>
                <option>Mukesh</option>
                <option>Babu</option>
                <option>Chotu</option>
            </select>
        <input type="submit" value="submit">
    </form>
</div>