<div class="text-center custom-container mx-auto ">
    <h1>
        Warden Dashboard!
    </h1>
    <hr>
   <a href="/warden/approve" class="m-1 w-100 btn btn-primary">Approve List</a>

   <a class="m-1 btn btn-warning w-100" href="/warden/add-elephant">Add a New Elephant</a>
   

</div>