<script>
    $("#addmore").click( () => {
        let i=1;
        let htmlString = `<span><div class="form-group">
                            <label>History ${i}</label>
                             <input class="form-control" type="text" placeholder="Previous Owner Name">
                             <input class="form-control" type="text" placeholder="Time Period">
                       </div></span>`
        $(htmlString).insertAfter('p');
        i++
    });
</script>

<div class="custom-container mx-auto" >
    <h1 class="text-center">
        New Elephant Registration
    </h1>
    <hr>
    <form enctype="multipart/form-data">
        <div class="form-group">
            <label>Select Owner</label>
            <select class="form-control" id="exampleSelect1">
                <option>Santosh</option>
                <option>Rakesh</option>
                <option>Mukesh</option>
                <option>Babu</option>
                <option>Chotu</option>
            </select>
        </div>

        <div class="form-group">
            <label>Elephant Alias</label>
            <input class="form-control" type="text" placeholder="Known Aliases">
        </div>

        <div class="form-group">
            <label>Upload Trunk Picture</label>
            <input class="form-control-file" name="elephantImages" type="file" multiple>
        </div>

        <div class="form-group">
            <label>Add History Of Elephant</label>
            <button class="form-control btn btn-warning" id="addmore">Click to Add</button>
        </div>

        <div id="fieldset">

        </div>
        <p></p>

        <button class="text-center btn btn-success w-100">Create!</button>
    </form>
</div>
